.todo-list ul {
    display: flex;
    justify-content: space-between;
    padding: 0 17px;
    font-weight: bolder;
    letter-spacing: .7px;
    font-size: 17;
}

.todo-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.todo-list {
    min-height: 500px;
    min-width: 500px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
}

.todo-list,
.todo-list>*,
.todo-list>*>*,
.todo-list li,
.todo-list div {
    background-color: #D6E4E5;
}

.todo-list_item {
    padding: 15px 0;
    border-bottom: 1px solid rgb(121, 121, 121);
}
.todo-list_text {
    cursor: pointer;
}

.todo-list_btn {
    display: flex;
    gap: 5px;
    margin-left: 50px;
}

.complect::before {
    content: "-●- ";
}

.complect {
    text-decoration: dotted;
    opacity: .9;
    color: #e5edee;
    background-color: #497174 !important;
    border-radius: 6px;
    padding: 0 10px;
    font-weight: normal;
}

.todo-list_number {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}